
html {
    font-size: 14px;
  }

  @media (min-width: 0px) {
    html {
      font-size: 14px;
    }
  }
  .maincontainerr{
    position: relative;
    margin-left: 80px;

  }
  .my-heading{
    font-size: 300%;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .container1 {
    max-width: 960px;
  }
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }