.head1{
    position: relative;
    font-size: 30px;
     margin-top: 4px;
     top: 443px;
     margin-bottom: 5px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color:cornflowerblue;
}