 @import url('http://fonts.googleleapis.com/css2? family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
  
  *{
   margin: 0;
    padding: 0;
    font-family: "Montserrat";
    box-sizing: border-box;
  }
  .container5{
    position: relative;
    margin-bottom: 50px;
    top: 380px;
    padding: 50px 20px;
    height: 350px;
    width: 400px;
    background: white;
    border-radius:20px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.2);
    margin-bottom: 30px;
    margin-left: 50vh;
  }
  .container5 h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font:bolder;
    color:#111;
    margin-bottom: 45px;
    line-height: 1em;
    font-weight: 500;
    padding-left: 10px;
    border-left:5px solid #e91e63;
  }
  .container5 .inputBox
  {
    position: relative;
    width:300px;
    height: 46px;
    margin-bottom: 35px;
  }
  .container5 .inputBox:last-child
  {
     margin-bottom: 0;
  }
  .container5 .inputBox input
  {
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    border:1px solid #111;
    background: transparent;
    padding: 10px;
    border-radius: 4px;
    box-sizing:border-box;
    outline:none;
    font-size: 16px;
    color:#111;
    font-weight: 300;
  }
  .container5 .inputBox span
  {
    font-family: Georgia, 'Times New Roman', Times, serif;
      position: absolute;
      top:1px;
      left:1px;
      padding: 10px;
      display:inline-block;
      font-size: 16px;
      color:#111;
      font-weight: 300;
      transition: 0.5s;
      pointer-events: none;
  }

  .container5 .inputBox input:focus ~ span,
  .container5 .inputBox input:valid ~ span
  {
    transform: translateY(-40px) translateX(-32px);
    font-size: 12px;
  }
  .container5 .inputBox input[type="submit"]
  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #2196f3;
    color:#fff;
    max-width: 120px;
    cursor: pointer;
    font-weight: 500;
  }
 .container5 .inputBox input[type="submit"]:hover
 {
  background:greenyellow;

 }

